/*  import google fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
html{
    scroll-behavior: smooth;
}

/* custom scroll bar */
::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
    background: #888;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}
/* all similar content styling codes */
section{
    padding: 100px 0;
}
.max-width{
    max-width: 1300px;
    padding: 0 80px;
    margin: auto;
}
.about, .projects, .footer{
    font-family: 'Ubuntu', sans-serif;
}
.about .about-content,
.projects .projects-content{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}
section .title{
    position: relative;
    text-align: center;
    font-size: 40px;
    font-weight: 500;
    margin-bottom: 60px;
    padding-bottom: 20px;
    font-family: 'Poppins', sans-serif;
}
section .title::before{
    content: "";
    position: absolute;
    bottom: 0px;
    left: 50%;
    width: 180px;
    height: 3px;
    background: #111;
    transform: translateX(-50%);
}
section .title::after{
    position: absolute;
    bottom: -8px;
    left: 50%;
    font-size: 20px;
    color: rgb(0, 0, 0);
    padding: 0 5px;
    background: rgb(255, 255, 255);
    transform: translateX(-50%);
}
/* navbar styling */
.navbar{
    position: fixed;
    width: 100%;
    z-index: 999;
    padding: 30px 0;
    font-family: 'Ubuntu', sans-serif;
    transition: all 0.3s ease;
}
.navbar.sticky{
    padding: 15px 0;
    background: rgb(0, 0, 0);
}
.navbar .max-width{
    display: flex;
    align-items: center;
    justify-content: space-between;
    float:left;
}
.navbar .menu li{
    list-style: none;
    display: inline-block;
}
.navbar .menu li a{
    display: block;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    margin-left: 25px;
    transition: color 0.3s ease;
}
.navbar .menu li a:hover{
    color: rgb(42, 12, 180);
}
.navbar.sticky .menu li a:hover{
    color: #fff;
}
.scroll-up-btn{
    position: fixed;
    height: 45px;
    width: 42px;
    background: rgb(0, 0, 0);
    right: 30px;
    bottom: 10px;
    text-align: center;
    line-height: 45px;
    color: #fff;
    z-index: 9999;
    font-size: 30px;
    border-radius: 6px;
    border-bottom-width: 2px;
    cursor: pointer;
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s ease;
}
.scroll-up-btn.show{
    bottom: 30px;
    opacity: 1;
    pointer-events: auto;
}
.scroll-up-btn:hover{
    filter: brightness(90%);
}
/* home section styling */
.home{
    display: flex;
    background: url("images/banner.jpg") no-repeat center;
    height: 100vh;
    color: #fff;
    min-height: 500px;
    background-size: cover;
    background-attachment: fixed;
    font-family: 'Ubuntu', sans-serif;  
    opacity: 0.9;
}
.home .max-width{
  width: 100%;
  display: flex;
}
.home .max-width .row{
  margin-right: 0;
}
.home .home-content .text-2{
    font-size: 75px;
    font-weight: 600;
    margin-left: -3px;
}
.home .home-content .text-3{
    font-size: 40px;
    margin: 5px 0;
}
.home .home-content .text-3 span{
    color: rgb(255, 255, 255);
    font-weight: 500;
    text-align: center;
}
.home .home-content a{
    display: inline-block;
    background: crimson;
    color: rgba(255, 255, 255, 0.281);
    font-size: 25px;
    padding: 12px 36px;
    margin-top: 20px;
    font-weight: 400;
    transition: all 0.3s ease;
}
.home .home-content a:hover{
    color: crimson;
    background: none;
}

/* about section styling */

.about .about-content .left{
    width: 45%;
}
.about .about-content .left img{
    height: 400px;
    width: 400px;
    object-fit: cover;
    border-radius: 6px;
}
.about .about-content .right{
    width: 55%;
}
.about .about-content .right .text{
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 10px;
    line-height: 30px;
}
.about .about-content .right .text span{
    color: rgb(0, 0, 0);
}
.about .about-content .right p{
    text-align: justify;
    line-height: 25px;
}
.about .about-content .right a{
    display: inline-block;
    background: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-weight: 500;
    padding: 10px 30px;
    margin-top: 20px;
    border-radius: 6px;
    border: 2px solid rgb(0, 0, 0);
    transition: all 0.3s ease;
}
.about .about-content .right a:hover{
    color: rgb(0, 0, 0);
    background: none;
}
/* projects section styling */
.projects{
    color:rgb(255, 255, 255);
    background: #111;
}
.projects .title::before{
    background: #fff;
}
.projects .projects-content .card{
    width: auto;
    height: auto;
    background: #222;
    text-align: center;
    border-radius: 6px;
    padding: 10px 10px;
    cursor: pointer;
    transition: all 0.3s ease;
    display: inline-block;
    border: 1px solid #000;
    margin: 5px;
}
.projects .projects-content .card .box img{
    position:relative;
    max-height: 250px;
    max-width: 250px;
    object-fit: cover;
    height:100%;
}
.projects .projects-content .card:hover{
    background: rgb(255, 255, 255);
}
.projects .projects-content .card .box{
    transition: all 0.3s ease;
}
.projects .projects-content .card:hover .box{
    transform: scale(1.05);
    opacity: 0.5;
}
.projects .projects-content .card i{
    font-size: 50px;
    color: rgb(255, 0, 0);
    transition: color 0.3s ease;
}
.projects .projects-content .card:hover i{
    color: rgb(255, 255, 255);
}
.projects .projects-content .card .text{
    font-size: 25px;
    font-weight: 500;
    margin: 10px 0 7px 0;
}
/* footer section styling */
footer{
    background: rgb(255, 255, 255);
    padding: 15px 23px;
    color: rgb(0, 0, 0);
    text-align: center;
}
footer span a{
    color: rgb(255, 255, 255);
    text-decoration: none;
}
footer span a:hover{
    text-decoration: underline;
}
footer ul{
    display: flex;
    align-items: center;
    justify-content: center;
  }
  footer ul li{
    position: relative;
    display: block;
    font-size: 30px;
    height: 60px;
    width: 60px;
    background: #000000;
    line-height: 60px;
    border-radius: 50%;
    margin: 0 15px;
    cursor: pointer;
    transition: .5s;
  }
footer ul li:hover{
   color:rgb(255, 255, 255);
   background-color: rgb(13, 10, 184);
}
footer a{
    color:rgb(255, 255, 255);
}
/* responsive media query start */
@media (max-width: 1104px) {
    .about .about-content .left img{
        height: 350px;
        width: 350px;
    }
}

@media (max-width: 991px) {
    .max-width{
        padding: 0 50px;
    }
}
@media (max-width: 947px){
    .navbar .menu{
        position: fixed;
        height: 100vh;
        width: 100%;
        left: -100%;
        top: 0;
        background: rgb(0, 0, 0);
        text-align: center;
        padding-top: 80px;
        transition: all 0.3s ease;
    }
    .navbar .menu.active{
        left: 0;
    }
    .navbar .menu li{
        display: block;
    }
    .navbar .menu li a{
        display: inline-block;
        margin: 20px 0;
        font-size: 25px;
    }
    .home .home-content .text-2{
        font-size: 70px;
        
    }
    .home .home-content .text-3{
        font-size: 35px;
    }
    .home .home-content a{
        font-size: 23px;
        padding: 10px 30px;
    }
    .max-width{
        max-width: 930px;
    }
    .about .about-content .column{
        width: 100%;
    }
    .about .about-content .left{
        display: flex;
        justify-content: center;
        margin: 0 auto 60px;
    }
    .about .about-content .right{
        flex: 100%;
    }
}

@media (max-width: 690px) {
    .max-width{
        padding: 0 23px;
    }
    .home .home-content .text-2{
        font-size: 60px;
    }
    .home .home-content .text-3{
        font-size: 32px;
    }
    .home .home-content a{
        font-size: 20px;
    }
}

@media (max-width: 500px) {
    .home .home-content .text-2{
        font-size: 50px;
    }
    .home .home-content .text-3{
        font-size: 27px;
    }
    .scroll-up-btn{
        right: 15px;
        bottom: 15px;
        height: 38px;
        width: 35px;
        font-size: 23px;
        line-height: 38px;
    }
}

.image {
    position: relative;
    width:  250px;
    height: 250px;
    object-fit: contain;
}

.image__img {
    display: block;
}

.image__overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgb(255, 255, 255);
    color: #ffffff;
    font-family: 'Quicksand', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.25s;
}

.image__overlay--blur {
    backdrop-filter: blur(5px);
}

.image__overlay--primary {
    background: #000000;
}

.image__overlay > * {
    transform: translateY(20px);
    transition: transform 0.25s;
}

.image__overlay:hover {
    opacity: 1;
}

.image__overlay:hover > * {
    transform: translateY(0);
}

.image__title {
    font-size: 2em;
    font-weight: bold;
}

.image__description {
    font-size: 1.25em;
    margin-top: 0.25em;
    font-family: Montserrat;
}